#hud{

position:absolute;

top:15px;

left:15px;

z-index:1000;

color:white;

font-size:15px;

background:rgba(0,0,0,.45);

padding:12px;

border-radius:10px;

backdrop-filter:blur(8px);

}

#hud div{

margin-bottom:8px;

}

#loadingText{

margin-top:15px;

font-size:17px;

}
